<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <targets async="true">
    <target xsi:type="NlogViewer" name="ctrl" />
    <target name="appLog" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${level:upperCase=true}|${logger}|${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ctrl" />
    <logger name="*" minlevel="Trace" writeTo="appLog" />
  </rules>
</nlog>